# Created by .ignore support plugin (hsz.mobi)
out
.idea
Symphony.iml
/symphony-demo/target
/symphony-core/target
/symphony-aop/target
/symphony-demo/symphony-demo.iml
/symphony-core/symphony-core.iml
/symphony-aop/symphony-aop.iml